@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
    
:root {
        --font3: font-family: 'Handlee', cursive;
        --font2:font-family: 'Oxygen', sans-serif;
        --font1: font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

html, body {
    min-height: 100vh;
    
    font-family: var(--font1);
}

header{
    font-family: var(--font1);    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(113, 5, 255, 0.400);
    color: white;
    text-align: center;
    height: 220px;
    max-width: 800px;
    margin: auto;
}

header > h1 {
    font-family: var(--font2);
    padding-top: 50px;
    margin-bottom: 0px;
    font-size: 4vw;
}

header > p {
    font-size: 1.25vw;
    margin-top: 0px;
    padding-bottom: 50px;
    

} 

main {
    background-color: rgba(113, 5, 255, 0.400);
    border-radius: 0px ;
    border-top: 0px;
    color: white;
    height: 3050px;
    max-width: 800px;
    margin: auto;
    text-align: left;
}

body{
    margin: 0px 0px 0px 0px;

background-color: gray;
background-repeat: no-repeat;
}

section > p {
    font-size: 1.25vw;
    font-family: var(--font3);
    padding-left: 5px;
}

footer{
    font-family: var(--font1);
    color: lightcyan;
    background-color: rgba(255, 1, 1, 0.400);
    text-align: center;
    padding: 5px;

}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

h1.paragrafo {
    margin-top: 0px;
}

p.paragrafo{
    margin-top: 0px;
}

p.footer {
    font-size: medium;
    margin-top: 0px;
    margin-bottom: 0%;

}


