@charset "UTF-8";


html, body {
    min-height: 100vh;
}

header{
     
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(113, 5, 255, 0.400);
    color: white;
    text-align: center;
    height: 220px;
    max-width: 800px;
    margin: auto;
}

header > h1 {
    padding-top: 50px;
    margin-bottom: 0px;
    font-size: 3vw;
}

header > p {
    font-size: 0.90vw;
    margin-top: 0px;
    padding-bottom: 50px;
    

} 

main {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(113, 5, 255, 0.400);
    border-radius: 0px ;
    border-top: 0px;
    color: white;
    max-height: 4800px;
    max-width: 800px;
    margin: auto;
    text-align: left;
}

body{
    margin: 0px 0px 0px 0px;

background-color: gray;
background-repeat: no-repeat;
}

section > p {
    font-size: 1vw;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 1em;
}

footer{
    color: lightcyan;
    background-color: rgba(255, 1, 1, 0.400);
    text-align: center;
    padding: 5px;

}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

h1.paragrafo {
    margin-top: 0px;
}

p.paragrafo{
    margin-top: 0px;
}

p.baixo{
    margin-bottom: 0px;
    padding-bottom: 18px;
}

p.footer {
    font-size: medium;
    margin-top: 0px;
    margin-bottom: 0%;

}
p#margin {
    margin-bottom: 9px;
}


